<div class="col-md-6" style="margin: 0 auto;">
  <div class="card card-container" style="border: none;">
     <h1 style="margin: 20px 0; text-align: center; font-size: 36px; font-weight: 700;">Login</h1>
     <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" name="Email" [(ngModel)]="form.Email" #Email="ngModel" Email required class="form-control">
          <div class="alert" *ngIf="Email.errors && f.submitted" style="color: red;padding: 8px 0px;">
          <div *ngIf="Email.errors.required">Email is required</div>
            <!-- <div *ngIf="Email.errors.email">Provide valid Email</div> -->
          </div>
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="Password" name="Password" [(ngModel)]="form.Password" #Password="ngModel"  required class="form-control">
          <div class="alert" *ngIf="Password.errors && f.submitted" style="color: red;padding: 8px 0px;">
            <div *ngIf="Password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block"> Login </button></div>
          <div class="form-group">
            <div class="alert" role="alert" *ngIf="f.submitted && isLoggedInFailed"  style="color: grey; padding: 8px 0px;">
              Login failed: {{errorMessage}}
            </div>
          </div>
     </form>
     <div class="alert alert-success"  *ngIf="isLoggedIn">
      Successfully Logged In.
    </div>
  </div>
</div>
